body{
    background-color: aquamarine;
    size: 200px;
}
.grid-container{

  background-color: #3baebd;
  padding: 30px;
  color:whitesmoke;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: x-large;
  width: 94.6%;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container > .aside {
  background-color: #16b130;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  height: 500px;
  width: 25%;
  color: whitesmoke;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container > .article {
  background-color: orange;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.image-container {
  background-color: rgb(245, 185, 73);
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 50px 60px;
}

.flex-container1 {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  background-color: #f1f1f1;
}

.flex-container1 > div {
  background-color: DodgerBlue;
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.one {
  width: 1555px;
}

.article-first-container {
    /* background-color: #3baebd; */
    margin-bottom: 12px;
    margin-top: 250px;
}

.article-second-container {
    /* background-color: rgb(255, 0, 183); */
    display: flex;
}